<!-- app/views/restaurants/show.html.erb -->
<div class="banner">
    <h2>Review this</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 div col-sm-6 col-sm-offset-3">
      <h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ea eos debitis, ad quibusdam repudiandae fugit modi alias veritatis doloribus tenetur odit a illo voluptatum officiis sint dolor, necessitatibus dignissimos!</p>
      <h2>
        <%= pluralize @restaurant.reviews.size, "review" %>
      </h2>

      <div id="reviews">
        <% if @restaurant.reviews.blank? %>
        Be the first to leave a review for <%= @restaurant.name %>
        <% else %>
        <% @restaurant.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>
      <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
    </div>
  </div>
</div>

